<label class="input-form {{#if inputClass}} {{inputClass}} {{/if}}">
	<input autocomplete="off"
		{{#if
		required}}
		required
		{{/if}}
		{{#if
		name}}
		id="{{name}}"
		name="{{name}}"
		{{/if}}
		type="{{#if type}}{{type}}{{else}}text{{/if}}"
		{{#if
		phoneMask
		}}
		x-data="mask"
		x-mask="+7 (999) 999-99-99"
		{{/if}}
		{{#if
		dynamicMask
		}}
		x-data="mask"
		x-mask:dynamic="
    /^[0-9+\s()\-]+$/.test($input)
        ? '+7 (999) 999-99-99' : false
"
		{{/if}}
		placeholder="{{placeholder}}"
		aria-label="{{placeholder}}"
	/>
</label>
